# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.user
.vs
.idea
*.dbmdl

[Bb]in/
[Oo]bj/
[Oo]ut/
[Tt]estResults/
[Cc]overage/
[Cc]overageReport/

config/
.env

JUnit.xml
coverage.cobertura.xml
Cobertura.xml

volumes/

# web apps
# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.angular/cache/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
.npm/

# System Files
.DS_Store
Thumbs.db
/src/ApplicationPatterns/CleanArchitecture/Web/database.sqlite-shm
/src/ApplicationPatterns/CleanArchitecture/Web/database.sqlite-wal
/src/ApplicationPatterns/CleanArchitecture/Web/database.sqlite
